html, body {
    margin: 0;
    padding: 0;
}
body{
     background-color: #F7F7FF;
}
.page {
  background: #f4f4f4;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}


#bg {
    height: 395px;
    background-image: url("cover.jpg");
    background-repeat: no-repeat;
    background-size: 100% 395px;
    background-position: center;
    text-align: center;
}

#head {
    font-family: "Inspiration", cursive;
    font-weight: normal;
    font-size: 128px;
    margin: 0;
    padding-top: 80px;
    color: #EFEAEA;
    text-shadow: 0 0 3px burlywood;
}

#Enjoy{
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 48px;
}
.list {
    display: flex;
    justify-content: center;
    gap: 30px; 
           
}

.col1, .col2 {
    display: flex;
    flex-direction: column;
    gap: 15px;          
}

.col2{
    padding-top: 96px;
}

.gal{
    width: 504px;
    height: 390px;
    border: none;
    border-radius: 20px;
}

#ed{
padding-left: 50px;
padding-top: 60px;
}

.avatar{
    width: 113px;
    height: 113px;
}

.card{
    display: flex; 
    justify-content: space-between;
    padding: 0 170px 0 170px;
    
}

.edc{
    background-color: #ffffff;
    padding-bottom: 50px;

}

.schools{
    font-size: 10px;
    padding-top: 20px;
}

#ndmc, #scc{
    border: 1px solid black;
    border-radius: 25px;
    display: flex; 
    padding: 32px;

}


.sn{
    padding-left: 10px;

}
